body{
    background-color: #262335;
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button{
    padding: 0.5%;
}

#length{
    padding: 0.5%;
}

.moveDown{
    margin-top: 2%;
}
